<div class="jumbotron text-center">
    <div class="container">
    	
    	<div ng-show="tableView" class="tableScroll">
			<table>
				<tr>
					<td align="left"><h4>Filter:</h4></td>
					<td width="10"></td>
					<td align="right">Module</td>
					<td width="10"></td>
					<td>
						<select ng-options="version.label for version in versions|orderBy:'-name' track by version.id"
								name="version" id="version" class="form-control" ng-model="currentVersion"
								ng-change="read()">
						</select>
					</td>
					<td width="10"></td>
					<td align="right">Area</td>
					<td width="10"></td>
					<td>
						<select ng-options="area.name for area in areas|orderBy:'-name' track by area.id"
								name="area" id="area" class="form-control" ng-model="search.area"
								ng-change="search.area=search.area?search.area:{}">
								<option label="" value="" selected="selected">( All )</option>
						</select>
					</td>
					<td width="10"></td>
					<td align="right">Stereotype</td>
					<td width="10"></td>
					<td>
						<select ng-options="stereotype.label for stereotype in stereotypes track by stereotype.id"
								name="stereotype" id="stereotype" class="form-control" ng-model="search.stereotype"
								ng-change="search.stereotype=search.stereotype?search.stereotype:{}">
								<option label="" value="" selected="selected">( All )</option>
						</select>
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td align="left"><h4>Entities:</h4></td>
					<td align="right">
			    		<button ng-click="add()" type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"> Add entity</span>
						</button>
					</td>
				</tr>
			</table>
			<p></p>
			<table class="table table-striped table-bordered .table-condensed">
				<thead>
					<tr>
						<th>ID</th>
						<th>Area</th>
						<th>Stereotype</th>
						<th>Name</th>
						<th>Sysname</th>
						<th>Description</th>
						<th style="width:230px;">Command</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entity in entities|filter:search|orderBy:'name'">
						<td>{{entity.id}}</td>
						<td>{{entity.area.name}}</td>
						<td>{{entity.stereotype.label}}</td>
						<td>{{entity.name}}</td>
						<td>{{entity.sysname}}</td>
						<td>{{entity.description}}</td>
						<td width="160">
							<button ng-click="edit(entity)" type="button" class="btn btn-warning" data-tooltip="Edit">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
							<button ng-click="remove(entity)" type="button" class="btn btn-danger" data-tooltip="Remove">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<br/>
		</div>
		<div ng-show="(addView || editView) && !addAttributeView && !editAttributeView">
			<h3 ng-show="editView">Edit</h3>
			<h3 ng-show="addView">Create new</h3>
			<form role="form" ng-submit="save()">
				<div>
					<label>Module: {{currentVersion.label}}</label>
				</div>
				<div ng-show="editView">
					<label>ID: {{entity.id}}</label>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="stereotype" required>Entity stereotype:</label>
					<select ng-options="stereotype.label for stereotype in stereotypes track by stereotype.id"
							name="stereotype" id="stereotype" class="form-control" 
							ng-model="entity.stereotype">
					</select>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="stereotype" required>Structure stereotype:</label>
					<select ng-options="stereotype.label for stereotype in structureStereotypes track by stereotype.id"
							name="stereotype" id="stereotype" class="form-control" 
							ng-model="entity.structureStereotype">
					</select>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="stereotype" required>Area:</label>
					<select ng-options="area.name for area in areas|orderBy:'-name' track by area.id"
							name="area" id="area" class="form-control" 
							ng-model="entity.area">
					</select>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="name" required>Name:</label>
					<input type="text" class="form-control" id="name" name="name" required 
						ng-model="entity.name"/>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="sysname" required>Sysname:</label>
					<input type="text" class="form-control" id="sysname" name="sysname" ng-pattern="regexSysname" required
						ng-model="entity.sysname"/>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="description" required>Description:</label>
					<input type="text" class="form-control" id="description" name="description" ng-model="entity.description"/>
				</div>
				<p></p>
				<table width="100%">
					<tr>
						<td align="left"><h4>Attributes:</h4></td>
						<td align="right">
				    		<button ng-click="addAttribute()" type="button" class="btn btn-success" ng-disabled="!entity.stereotype || !entity.area">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"> Add attribute</span>
							</button>
						</td>
					</tr>
				</table>
				<p></p>
				<table class="table table-striped table-bordered .table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Sysname</th>
							<th>Primary</th>
							<th>Unique</th>
							<th>Nullable</th>
							<th>Reference</th>
							<th style="width:230px;">Command</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="attribute in attributes|orderBy:'number'">
							<td>{{attribute.id}}</td>
							<td>{{attribute.name}}</td>
							<td>{{attribute.sysname}}</td>
							<td>
								<input style="width:25px; height:25px;" type="checkbox" id="isPK" name="isPK" 
									ng-model="attribute.pk" 
									ng-change="attributChangeFlag(attribute, 'pk');attribute.isNullable=false;"/>
							</td>
							<td>
								<input style="width:25px; height:25px;" type="checkbox" id="isPK" name="isPK" 
									ng-model="attribute.uq" 
									ng-change="attributChangeFlag(attribute, 'uq');attribute.isNullable=false;"/>
							</td>
							<td>
								<input style="width:25px; height:25px;" type="checkbox" id="isNullable" name="isNullable" 
									ng-model="attribute.isNullable" ng-disabled="attribute.pk||attribute.uq"/>
							</td>
							<td>
								<input style="width:25px; height:25px;" type="checkbox" id="isReference" name="isReference" 
									ng-model="attribute.isReference" ng-disabled="true"/>
							</td>
							<td width="160">
								<button ng-click="moveAttribute($index, 1)" type="button" class="btn btn-success" data-tooltip="Up" 
									ng-disabled="attribute.number==0">
										<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
								</button>
								<button ng-click="moveAttribute($index, -1)" type="button" class="btn btn-success" data-tooltip="Down" 
									ng-disabled="attribute.number==attributes.length-1">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								</button>
								<button ng-click="editAttribute(attribute)" type="button" class="btn btn-warning" data-tooltip="Edit">
										<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</button>
								<button ng-click="removeAttribute(attribute)" type="button" class="btn btn-danger" data-tooltip="Remove">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<p></p>
				<table width="100%">
					<tr>
						<td align="left"><h4>Constraints:</h4></td>
					</tr>
				</table>
				<p></p>
				<table class="table table-striped table-bordered .table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>Subtype code</th>
							<th>Name</th>
							<th>Sysname</th>
							<th>Attributes</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="key in keys">
							<td>{{key.id}}</td>
							<td>{{key.subtypeCode.toUpperCase()}}</td>
							<td>{{key.name}}</td>
							<td>{{key.sysname}}</td>
							<td>{{attributesLabel(key)}}</td>
						</tr>
					</tbody>
				</table>
				<div class="row form-group margin-form">
					<div class="col-lg-6 text-right">
						<button ng-click="show()" type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"> Back</span>
						</button>
					</div>
					<div class="col-lg-6 text-left">
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-saved" aria-hidden="true"> Save</span>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div ng-show="addAttributeView || editAttributeView">
			<h3 ng-show="editAttributeView">Edit attribute</h3>
			<h3 ng-show="addAttributeView">Create new attribute</h3>
			<form role="form" ng-submit="saveAttribute()">
				<div ng-show="attribute.id">
					<label>ID: {{attribute.id}}</label>
				</div>
				<div>
					<label>Module: {{currentVersion.label}}</label>
				</div>
				<div>
					<label>Entity: {{entity.name}}</label>
				</div>
				<div>
					<label>Area: {{entity.area.name}}</label>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="stereotypeAttribute" required>Stereotype:</label>
					<select ng-options="stereotype.label for stereotype in attributeStereotypes track by stereotype.id"
							name="stereotypeAttribute" id="stereotypeAttribute" class="form-control" 
							ng-model="attribute.stereotype">
					</select>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="stereotypeAttribute" required>Element:</label>
					<table width="100%"><tr>
						<td><i class="fa fa-search"></i></td>
						<td><input type="text" class="form-control" id="searchElement" name="searchElement" 
							ng-model="searchElement" placeholder="Put element name..."/></td></tr>
					</table>
					<select ng-options="element.label for element in elements|filter:searchElement track by element.id"
							name="element" id="element" class="form-control" 
							ng-model="attribute.element" ng-change="attributeElementChange(attribute)">
							<option label="" value="" selected="selected">( None )</option>
					</select>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="name" required>Name:</label>
					<input type="text" class="form-control" id="name" name="name" required
						ng-model="attribute.name"/>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="sysname" required>Sysname:</label>
					<input type="text" class="form-control" id="sysname" name="sysname" ng-pattern="regexSysname" required
						ng-model="attribute.sysname"/>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="description" required>Description:</label>
					<input type="text" class="form-control" id="description" name="description" ng-model="attribute.description"/>
				</div>
				<div class="form-group margin-form" style="width:300px;">
					<label for="type" required>Type:</label>
					<select ng-options="type.name for type in elementTypes track by type.id"
						name="type" id="type" class="form-control" 
						ng-model="attribute.element.type" ng-change="attribute.element.size=null;attribute.element.accuracy=null;"
						ng-disabled="attribute.element.id">
					</select>
				</div>
				<div class="form-group margin-form" style="width:300px;" ng-show="attribute.element.type.name=='string'||attribute.element.type.name=='numeric'">
					<label for="size" required>Size:</label>
					<input numbersOnly type="number" class="form-control" id="size" name="size" 
						ng-model="attribute.element.size" ng-disabled="attribute.element.id"/>
				</div>
				<div class="form-group margin-form" style="width:300px;" ng-show="attribute.element.type.name=='numeric'">
					<label for="accuracy" required>Accuracy:</label>
					<input numbersOnly type="number" class="form-control" id="accuracy" name="accuracy" 
						ng-model="attribute.element.accuracy" ng-disabled="attribute.element.id"/>
				</div>
				<div class="form-group margin-form" style="width:300px;" ng-show="attribute.element.type.name=='reference'">
					<label for="referenceEntity" required>Reference entity:</label>
					<table width="100%" ng-show="attribute.element"><tr>
						<td><i class="fa fa-search"></i></td>
						<td><input type="text" class="form-control" id="searchEntity" name="searchEntity" 
							ng-model="attribute.searchEntity" placeholder="Put entity name..."/></td></tr>
					</table>
					<select ng-options="entity.label for entity in entities|filter:attribute.searchEntity track by entity.id"
							name="referenceEntity" id="referenceEntity" class="form-control" 
							ng-model="attribute.element.referenceEntity" ng-disabled="attribute.element.id">
					</select>
				</div>
				<div class="form-group margin-form" style="width:300px;" ng-show="attribute.element.type.name=='structure'">
					<label for="structure" required>Structure:</label>
					<table width="100%" ng-show="attribute.element"><tr>
						<td><i class="fa fa-search"></i></td>
						<td><input type="text" class="form-control" id="searchStructure" name="searchStructure" 
							ng-model="attribute.searchStructure" placeholder="Put structure name..."/></td></tr>
					</table>
					<select ng-options="structure.label for structure in structures|filter:attribute.searchStructure track by structure.id"
							name="structure" id="structure" class="form-control" 
							ng-model="attribute.element.structure" ng-disabled="attribute.element.id">
					</select>
				</div>
				<div class="form-group margin-form" style="width:300px;" ng-show="attribute.element.type.name=='map'">
					<label for="keyElement" required>Key element:</label>
					<table width="100%" ng-show="attribute.element"><tr>
						<td><i class="fa fa-search"></i></td>
						<td><input type="text" class="form-control" id="searchKeyElement" name="searchKeyElement" 
							ng-model="attribute.searchKeyElement" placeholder="Put key element name..."/></td></tr>
					</table>
					<select ng-options="element.label for element in elements|filter:attribute.searchKeyElement track by element.id"
							name="keyElement" id="keyElement" class="form-control" 
							ng-model="attribute.element.keyElement" ng-disabled="attribute.element.id">
					</select>
				</div>
				<div class="form-group margin-form" style="width:300px;" ng-show="attribute.element.type.name=='map'||attribute.element.type.name=='collection'">
					<label for="valueElement" required>Value element:</label>
					<table width="100%" ng-show="attribute.element"><tr>
						<td><i class="fa fa-search"></i></td>
						<td><input type="text" class="form-control" id="searchValueElement" name="searchValueElement" 
							ng-model="attribute.searchValueElement" placeholder="Put value element name..."/></td></tr>
					</table>
					<select ng-options="element.label for element in elements|filter:attribute.searchValueElement track by element.id"
							name="valueElement" id="valueElement" class="form-control" 
							ng-model="attribute.element.valueElement" ng-disabled="attribute.element.id">
					</select>
				</div>
				<p></p>
				<div class="row form-group margin-form">
					<div class="col-lg-6 text-right">
						<button ng-click="cancelAttribute()" type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"> Back</span>
						</button>
					</div>
					<div class="col-lg-6 text-left">
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-saved" aria-hidden="true"> Save</span>
						</button>
					</div>
				</div>
			</form>
		</div>
    </div>
</div>